#home-header{
    width: 300px;
    margin:0 auto;
}

#app header{
    font-size: 20px;
    text-align: center;
    paddin:10px;
}

#app .news-header{
    margin:25px auto;
    width: 300px;
    font-size: 35px;
}

#create-news{
    margin:30px auto;
    width:300px;
    text-align: center;
}

#create-news input{
    margin:10px;
    width: 300px;
}

#create-news textarea{
    width: 300px;
    margin: 0 10px;
}

.single-news-wrapper{
    border: 1px solid #B0BEC5;
    text-align: center;
}

.single-news-header{
    color: #000000;
}

#app img{
    margin: 15px;
}

.gallery{
    width:200px;
    margin: 20px auto;
}